<div class="row">
	{{#each notes}}
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title d-flex justify-content-between align-items-center">
						{{title}}
						<a href="/notes/edit/{{_id}}" class="fas fa-edit"></a>
					</h4>
					<p>{{description}}</p>
					<form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
						<input type="hidden" name="_method" value="DELETE" />
						<button type="submit" class="btn btn-danger w-100 btn-sm">Delete</button>
					</form>
				</div>
			</div>
		</div>
	{{else}}
		<div class="card col-md-5 mx-auto">
			<div class="card-body">
				<h1> Hello {{user.name}}</h1>
				<p class="lead"> There are not notes yet.</p>
				<a href="/notes/add" class="btn btn-success w-100 mb-3">Create One!</a>
			</div>
		</div>
	{{/each}}
</div>